@charset "UTF-8";
#wrapper{
	display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    background: #f2f2f2;
}

#mm .img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
}

.text {
	vertical-align: middle;
	float: right;
}

.text50 {
	font-size: 50px;	
	margin-top: 15px;
}
.text25 {
	font-size: 25px;
	color: #fcc000;
}

.main {
	width: 100%;
	
}

.main td:not(.sub) {
	padding: 10px;
}

.main tr:nth-child(2n-1):not(.sub *){
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sub * {
	font-size: 25px;
	padding: 5px;
}

.border {
    margin: 40px;
    padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 5px 5px -0px -0px rgba(0,0,0,0.05);
    background: white;
	
}
#mm {
	margin-top: 125px;
	width: 800px;
}

.fa-chevron-left, .fa-chevron-right {
	color: #ffc000;
}

.report a:hover, .money a:hover {
	color: red;
	font-weight: bold;
}

.fa-folder {
	width: 80px !important;
}
.fa-folder-open{
	width: 90px !important;
	display: none;
}