@charset "UTF-8";

#mmm th, td {
	padding: 5px !important;
}
#mmm .ranklikst{
	table-layout: fixed;	
}
#mmm td:not(.center, .right){
	text-align: left;
}

#mmm{
	margin-top: 150px;
	width: 1085px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 5px 5px -0px -0px rgba(0,0,0,0.05);
    background: white;
	
}
#wrapper{
	background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}
.X {
	border: none;
	outline: none;
	background-none;
}

.del:hover{
	color: red;
}

/* 공통 */
#page{
	text-align: center;
}

.page {
	position: fixed;
	top: 603.5px;
}
.page td {
	width: 1085px;
}

#listForm{
	 float:right;
}

table{
	width: 100%;
}

.title{
	font-size: 25px;
	color: #fcc000;
}
.inbl{
	display: inline-block;
}