@charset "UTF-8";
#acr th, td {
	padding: 5px !important;
}

#acr td:not (.center, .right ){
	text-align: left;
}

#acr {
	margin-top: 150px;
	width: 1085px;
}

/*모달 창 공통*/
#modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#contents table {
	width: 100%;
}

#contents {
	padding: 30px;
	background-color: white;
	border: 2px solid rgb(140, 102, 200);
	border-radius: 5px;
	top: calc(50% - 200px);
	left: calc(50% - 100px);
	width: 400px;
	height: 375px;
	text-align: center;
	position: absolute;
}

#detail {
	height: 35px;
}

#close {
	height: 35px;
}

#contents table td:nth-child(1) {
	width: 120px;
	text-align: right;
}

#contents table td input {
	width: 270px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

#ccontentText {
	height: 105px;
	width: 270px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	font-size: 13.3333px;
	padding: 1px 2px;
	text-align: left;
	background: white;
}

#modal button {
	width: 100%;
}

.hidden {
	display: none;
}

/*공통*/
#page {
	text-align: center;
}

.page {
	width: 1085px;
	position: fixed;
	top: 603.5px;
}

.page td {
	width: 1085px;
}

table {
	width: 100%;
}

.title {
	font-size: 25px;
	color: #fcc000;
}

.inbl {
	display: inline-block;
}

#list {
	table-layout:fixed;
}

#list td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#list tr:not(.page) td:nth-child(1) {
	width: 122.625px;
}      
#list tr:not(.page) td:nth-child(2) {
	width: 146.8px;
}      
#list tr:not(.page) td:nth-child(3) {
	width: 113.28px;
}       
#list tr:not(.page) td:nth-child(4) {
	width: 89.11px;
}       
#list tr:not(.page) td:nth-child(5), 
#list tr:not(.page) td:nth-child(6), 
#list tr:not(.page) td:nth-child(7), 
#list tr:not(.page) td:nth-child(8) {
	width: 122.63px;
}       
#list tr:not(.page) td:nth-child(9) {
	width: 122.69px;
}

#frmSearch {
	float: right;
}

#frmSearch * {
	display: inline-block;
}


#wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}