@charset "UTF-8";

.listOut {
	width: 50%;
	min-width: 1000px;
	height: 95%;
	padding: 20px;
	margin: 25px auto;
    background-color: #fff;
    border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

.comm {
	margin: 40px 0 40px 20px;
	text-align: left;
	font-size: 25px;
	color: #FFC000;
	float: left;
	
}

.searchDiv {
	height: 80px;
	width : 100%;
	clear: both;
	display: inline-flex;
    justify-content: center;
}

#searchType {
	width: 100px;
	height: 40px;
	border: 2px solid #8C66C8;
	font-size: 17px;
	color: black;
	margin-top: 5px;
	padding: 0;
	background-color: #ffffff;
}

#searchType:hover, #searchType:focus {
	color: #643EA0;
	transition: color 0.15s ease-in-out;
}

#search {
	width: 600px;
    height: 40px;
    top: 0;
    background-color: #ffffff;
    border: 2px solid #8C66C8;
    font-size: 17px;
    margin: 5px 0 0 20px;
    padding: 0;
    text-indent: 7%;
    background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVRIie2Uv2sTcRjGP+/lKqZNLUVrp2wq/mhBJxddWnF0SOsVEhpwKEUCgv9A5zgLocGtUq+cQZCMWg/r5FAQWkFXaatEEfxRhFzu+zqkwZL2rqeufZY7eO95Pt/vA/fCoQ6QRA08z0sHoc4IMqlwDugHNgVZVqPVQsFZ/WeA69YuG8xjIBvhU5DKz+9f787OzgZxACsi3AeyCq8Vcq2mfWJwIHNU1BpRpQz8Ai31Hxt8pKqRLey5QbsW3gNZFa0esaTkOE7YbVpc9C5i8Rw4LiqlfP5mJdENglBnOiePCgcoFJw3onoLQEXnfN+3EwEEmdx5vRcV3lE+P1VHWAOGtxqNq4kACucBwqa9Ehf+xyArO88LiQBAH4Ax37YT5av+ABDIJAVsAaTS6VNJACKcaYPYTAYQfQFgGatwULjneUPAdcCEKV4mA4QyD6gId1y3dinKpKoShNynXU296DgfEgHav79UgF6DefbQ9W7sd/LFpdoSMAWgYspR4bDPqqhWqz2ZgUEXZWLnizVUVkTMNiqntV1L3y7L2zCwx4rFXCMRANoVuG7ttorOAcNdYwPUVUzZUuuBwkgcJHaP+L5vb3z6ciWljKqYXsTaCC191el8YeHJSbuntawwIrDeCuzxbkgsIIk8zxsKDMsoo8A700qNTU9PfOzM92zTv5XjOJ/Dpn1NYB04a9nh093z/wYAFIu5RiuwxxFWgdgddqg9+g0TJuLzCuoJngAAAABJRU5ErkJggg==");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 2% center;
}

#search:hover, #search:focus {
	color: black;
	box-shadow: 2px 3px 5px 4px #eaeaea;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

#search::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: center left;
	background-image: url('../assets/img/cancel.png');
}

#btnsearchVal {
	background-image:
		url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
	background-size: contain;
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: 0;
}


#btnsearch {
	width: 80px;
	height: 40px;
	padding: 0;
	border: 2px solid #8C66C8;
	font-size: 17px;
	color: #ffffff;
	background-color: #8C66C8;
	margin: 5px 14px 0 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	position:relative;
	right:6px;
	cursor: pointer;
}

#btnsearch:hover, #btnsearch:focus {
	color: black;
	box-shadow: 2px 3px 5px 4px #eaeaea;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

#write {
	width: 90px;
    height: 40px;
    border: none;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #8C66C8;
    font-size: 17px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	cursor: pointer;
}

#write:hover {
	box-shadow: 2px 3px 5px 4px #eaeaea;
	color:black;
}

.ctable {
	margin: 0 auto 0 0;
	clear: both;
	width: 100%;
	border-collapse: collapse;
}

.ctable tr {
	border-bottom: 1px solid #eeeeee;
	height: 35px;
	font-size: 15px;
}

.ctable tr:hover {
	background-color: #FCFCFC;
}

.subject {
	color: black;
	text-decoration: none;
}

.subject:hover, .subject:active {
	text-decoration: underline;
}

.replycnt {
	color: #999;
	font-size: 15px;
}

.replycnt:hover, .replycnt:active {
	text-decoration: underline;
}

#page {
	line-height: 30px;
    text-align: center;
    margin-top: 30px;
}

#leftpage {
    text-decoration: none;
    color: black;
    padding: 10px 17px;
    text-align: center;
    background-color: #F8F8F8;
/*     margin: -2px; */
    position: relative;
    left: 20px;
    border-radius: 6px;
}

#leftpage a, #leftpage a:visited, #rightpage a, #rightpage a:visited  {
	color:#8C66C8;
}

#leftpage a:hover, #leftpage a:active, #rightpage a:hover, #rightpage a:active {
	color:#ffffff;
}

.pageNum {
    text-decoration: none;
    color: black;
    padding: 10px 12px;
    text-align: center;
    background-color: #F8F8F8;
    position: relative;
    left: 25px;
    border-radius: 6px;
    margin-left: 5px;
}

#rightpage {
    text-decoration: none;
    color: black;
    padding: 10px 17px;
    text-align: center;
    background-color: #F8F8F8;
/*     margin: -2px; */
    position: relative;
    left: 30px;
    border-radius: 6px;
}

#leftpage:hover, #leftpage:active, .pageNum:hover, .pageNum:active,
	#rightpage:hover, #rightpage:active {
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	background-color: #8C66C8;
	color: white;
}
