@charset "UTF-8";

* {
	font-weight: lighter
}

.modifyBtn {
	margin: 10px;
}

#editor {
	max-width: 95%;
	min-width: 95%;
	margin-left: 30px;
	min-height: 70px;
	text-indent: 1%;
	border: 1px solid #eeeeee;
}

.newRcontent {
	max-width: 95%;
	min-width: 95%;
	margin : 6px 0 0 20px;
	min-height: 50px;
	text-indent: 1%;
	border: 1px solid #eeeeee;
}

.rplyInsert{
    font-size: 14px;
    font-weight: 600;
    background-color: #065fd4;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 3px;
    margin-left: 10px;
    transition: box-shadow 0.15s ease-in-out;
}

.detailOut {
	width: 50%;
	min-width: 1000px;
	height: 95%;
	padding: 20px;
	margin: 25px auto;
	background-color: #fff;
	border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}
.comm {
	margin: 40px 0 20px 20px;
	text-align: left;
	font-size: 25px;
	color: #FFC000;
	float: left;
}

#table {
	border: none;
	width: 100%;
	margin: 0 auto;
}

#table tr {
	border-bottom: 1px solid #eeeeee;
}

#writer {
	margin: 10px 10px 18px 0;
	float: left;
	color: black;
	display: inline;
}

#date, #rqdate {
	font-size: 14px;
	color: #999;
	display: inline;
	position: relative;
	top: 9px;
	left: 5px;
}

#viewcnt {
	float: right;
	position: relative;
	right: 20px;
	bottom: 28px
}

#eye {
	position: relative;
	right: 2px;
	top: 12px;
}

#replycnt {
	float: right;
	position: relative;
	right: 26px;
	bottom: 19px;
}

#speechbubble {
	position: relative;
	right: 5px;
	top: 7px;
}

#likecnt {
	float: right;
	position: relative;
	right: 46px;
	bottom: 19px;
}

.likecnt {
	font-size: 16px;
}

#likey {
	position: relative;
	right: 4px;
	top: 5px;
}

#dislikecnt {
	float: right;
	position: relative;
	right: 46px;
	bottom: 19px;
}

.dislikecnt {
	font-size: 16px;
}

#dislikey {
	position: relative;
	right: 4px;
	top: 5px;
}

#subject {
	margin: 20px 0 0 0;
	text-align: left;
	clear: both;
	font-size: 20px;
	color: black;
}

#likeid {
	width: 55px;
	float: left;
	margin: 0;
	position: relative;
	top: 40px;
	font-size: 18px;
}

#content {
	color: black;
	width: 100%;
	text-align: left;
	word-wrap: break-word;
	padding: 15px 0;
}

#rcontent {
	color: black;
	width: 100%;
	text-align: left;
	background-color: #FAFAFA;
	word-wrap: break-word;
	float: right;
	padding: 20px;
}

.comment-box {
	margin: 0 auto;
	background-color: #FAFAFA;
	padding: 25px 0 25px 0;
	width: 100%;
	border-bottom: 1px solid #999;
}

#file {
	clear: both;
	padding: 10px 0;
	text-align: left;
}

#like {
	width: 55px;
	margin: 0 auto;
	font-size: 18px;
	position: relative;
	left: 42%;
	display: inline;
}

#dislike {
	width: 55px;
	margin: 0 auto;
	font-size: 18px;
	position: relative;
	left: 42%;
	display: inline;
}

.img_like {
	width: 45px;
	position: relative;
	top: 15px;
	cursor: pointer;
}

.img_dislike {
	width: 45px;
	position: relative;
	top: 15px;
	cursor: pointer;
}

hr {
	/* background-color:#black;
   border: 1px solid #black; */
	width: 100%;
	margin: auto;
}

#replycnt2 {
	position: relative;
	left: 18px;
	isplay: inline;
}

#rsubmit {
	position: relative;
	right: 25px;
	bottom: 85px;
	float: right;
	width: 125px;
	height: 45px;
	border: none;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	background-color: #B85CEF;
	font-size: 19px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

#list {
	margin: 50px auto 20px auto;
	width: 175px;
	padding: 5px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	text-align: center;
	background-color: #ffffff;
	font-size: 18px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	position: relative;
	left: 43%;
}

.update {
	width: 70px;
	height: 35px;
	padding: 5px;
	border: none;
	border-radius: 4px;
	text-align: center;
	background-color: #ffffff;
	font-size: 18px;
	float: right;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;
}

.delete {
	width: 70px;
	height: 35px;
	padding: 5px;
	border: none;
	border-radius: 4px;
	text-align: center;
	color: #d31900;
	background-color: #ffffff;
	font-size: 18px;
	float: right;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;
}

/*  replyDropdown 태그에 커서를 올리면 신고, 수정, 삭제 버튼을 둘러싸고 있는 dropdown-content 태그가 보인다.*/
.reply-list li:hover .replyDropdown {
	position: relative;
	display: inline-block;
}

.replyDropdown {
	/* display: none; */
	width: 24px;
}

.dropdown-content {
	display: none;
	position: absolute;
	/* right: 0; */
	background-color: #f9f9f9;
	min-width: 110px;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content div {
	color: #262626;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content div:hover {
	background-color: #f1f1f1;
}

 .replyDropdown:hover .dropdown-content
	{
	display: block;
} 

.icon-more {
	justify-self: end;
	background-size: 24px 24px;
}

.icons-react {
	height: 40px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.icon-react, .reply {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
/* 여기까지 댓글 수정, 삭제 드랍다운 메뉴*/


#comment {
	width: 95%;
	margin: 0 40px 0 40px;
	border-top: 1px solid #eeeeee;
}

.comment_writer {
	display: inline;
	word-break: break-all;
}

.comment_content {
	display: inline;
	word-break: break-all;
}

.comment_date {
	display: inline;
	font-size: 14px;
	color: #999;
}

.report {
	width: 70px;
	height: 35px;
	padding: 5px;
	border: none;
	border-radius: 4px;
	text-align: center;
	background-color: #ffffff;
	font-size: 18px;
	float: right;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;
}

#rsubmit:hover, #rsubmit:active {
	background-color: #CC70EF;
	box-shadow: 10px 10px 20px 5px #eeeeee;
}

#list:hover, #list:active {
	color: #2c3e50;
	background-color: #ffffff;
}

.delete:active, .delete:hover, .update:hover, .update:active, #list:hover,
	#list:active, .report:hover, .report:active, .rplyInsert:hover, .rplyInsert:active {
	box-shadow: 10px 10px 20px 5px #eeeeee;
}

#needlogin {
	margin: 10px auto 0 auto;
	width: 100%;
	line-height: 200px;
	text-align: left;
	color: black;
	font-size: 30px;
	box-shadow: 5px 5px 10px 5px #eeeeee;
}

#my_modal, #my_modal_reply {
	display: none;
	width: 330px;
    height: 380px;
	padding: 30px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.modal_report_div {
	margin-top: 10px;
}

#my_modal .modal_close_btn, #my_modal_reply .modal_close_btn {
	position: absolute;
	bottom: 20px;
	right: 65px;
	border: none;
	background-color: #fefefe;
	font-size: 16px;
	padding: 3px 10px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
		cursor:pointer;
}

#my_modal .modal_report_btn, #my_modal_reply .modal_report_btn {
	position: absolute;
	bottom: 20px;
	right: 15px;
	border: none;
	background-color: #fefefe;
	color: #065fd4;
	font-size: 16px;
	padding: 3px 10px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

#my_modal .modal_close_btn:hover, #my_modal .modal_report_btn:hover {
	background-color: #ffffff;
	box-shadow: 5px 5px 10px 3px #eeeeee;
}

.reportChoice {
	margin: 13px 0;
}

.modal_choise_label {
	margin: 10px;
}