@charset "UTF-8";

.footer {
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	background-color: rgb(0, 0, 0, 0.5);
	overflow: hidden;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	color: #F2F2F2;
/* 	position: absolute;
	left: 0;
	bottom: 0; */
}

.behindfooter {
	height: 64px;
	width: 100%;
	min-width: 320px;
	background-color: none;
}

.f_left {
	width: 430px;
	float: left;
}

.f_center {
	width: 400px;
	float: left;
}

.f_right {
	width: 400px;
	float: left;
}

.f_list {
	padding: 4px;
}

.kakao {
	color: #F2F2F2;
}

.kakao:hover {
	color: #fef01b;
}