@charset "UTF-8";
.footer-container {
    position:absolute;
    bottom:0;
    width:100%;
    height:52px;   
    margin-top: auto;
    border-top: 0.5px solid transparent;
    border-color: grey;
    box-shadow: 0px -1px 2.5px grey;
}

.footer {
	width: 100%;
	height:52px;   
	min-width: 320px;
	margin: 0 auto;
/* 	background-color: rgb(0, 0, 0, 0.1); */
	background-color: #fff;
	overflow: hidden;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	color: black;
	padding-left: calc(50% - 600px);
}

.f_left {
	width: 430px;
	float: left;
}

.f_center {
	width: 400px;
	float: left;
}

.f_right {
	width: 400px;
	float: left;
}

.f_list {
	padding: 4px;
}

.kakao {
	color: black;
}

.kakao:hover {
	color: #ffc000 !important;
}