@charset "UTF-8";
header {
	height: 64px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-width: 320px;
	height: 64px;
	/* 140 */
	background-color: #E3C8F8;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	z-index: 1001;
	opacity: 0.7;
}

.behindheader {
	width: 100%;
	height: 64px;
}

.h_left {
	margin: 6.5px 0 0 0;
	width: 900px;
	float: left;
}

.h_right {
	margin: 6.5px 10px 0 0;
	width: 300px;
	float: right;
}

.logo {
	float: left;
}

.menu {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
	border-bottom: 1px solid transparent;
}
.menu:hover{
	border-bottom: 3px solid #8C66C8;
	
}
.menu:hover .menutext{
	color: #8C66C8 !important;
	
}

.menutext{
	color: black;
}
.member {
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}