@charset "UTF-8";

header {
	background-color: #f2f2f2;
	overflow: hidden;
	height : 80px;
	width: 1240px;
	
}

.h_left {
	margin: 10px 0 0 0;
	width: 700px;
	float: left;
}

.h_right {
	margin: 10px 10px 0 0;
	width: 300px;
	float: right;
}

.logo {
	float: left;
}

.menu {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.member {
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}



