@charset "UTF-8";

#all_t {
	width: 1000px;	
	height: 100%;
}
#container {
	width: 1000px !important;
}
#widgetTB{
	width: 100%;
	height: 500px;
}

td{
	padding: 0px;
	margin: 0px;
}

#cointable_div {
	width: 400px;
	font-size: small;
	overflow: auto;
	height: 490px;
}
#cointable_div td{
	width: 25%;
}
#sold_b{
	background: ccc;
}
#bought_b{
	background: red;
	
}
#price_s{
	display: none;
}
#cnt_s{
	display: none;
}
#sold{
	display: none;
}