@charset "UTF-8";
#frm11{
	width: 320px;
}
#aaaaa{
	width: 320px;
}
#container {
	width: 1100px !important;
}
#widgetTB{
	width: 100%;
	height: 500px;
}

/* td{
	padding: 0px;
	margin: 0px;
} */

#chart1 {
	vertical-align: top; 
}

.tradingview-widget-container{
	background-color: #fff;
	border: 1px solid transparent;
	border-color: #E3C8F8;
	border-radius: 4px;
  	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
  	height: 100%;
}

#searchcoin {
	font-size: 16px;
	height: 35px;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-color: #E3C8F8;
	border-radius: 4px;
  	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
}

#cointable_div {
	width: 450px;
	font-size: small;
	overflow: auto;
	height: 500px;
	background-color: #fff;
	border: 1px solid transparent;
	border-color: #E3C8F8;
	border-radius: 4px;
  	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
}
#cointable_div td{
	width: 25%;
}

#alltable {
	width: 100%;
}

#all_t {
	width: 100%;	
	height: 100%;
	background-color: #fff;
	border: 1px solid transparent;
	border-color: #E3C8F8;
	border-radius: 4px;
  	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
}

#sold_b{
	background: ccc;
}
#bought_b{
	background: red;
	
}
#price_s{
	display: none;
}
#cnt_s{
	display: none;
}
#sold{
	display: none;
}