@charset "UTF-8";
/* #center{
	text-align: center;
	display: inline;
	width: 80%;
} */


table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#c1{
	width: 600px;
	height: 500px;
	background: #fff;
	border: 1px solid transparent;
	border-color: #E3C8F8;
  	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
}

#c2{
	width: 400px;
	height: 500px;
	background: white;
	border: 1px solid transparent;
	border-color: #E3C8F8;
  	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
}
/*  #chart {
	
	width: 100%
	height: 100%
	border: 1px solid;
} */

 #chart_div {
	height: 500px;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	
} 

 #cointable_div{
	height: 100%;
	font-size: small;
} 
 #cointable_div a{
 	color: #8C66C8;
} 
 #cointable_div a:visited{
 	color: #8C66C8;
 	text-decoration: none;
} 
 #cointable_div a:active{
 	text-decoration: none;
} 
#cointable_btn {
	width: 960px;
	height: 30px;
	border: 1px solid #8C66C8;
	border-radius: 5px;
	color: #8C66C8;
	background: white;
	margin-top: 10px;
	margin-bottom: 40px;
	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
}
#cointable_btn:hover {
	border: 1px solid #8C66C8;
	border-radius: 5px;
	color: white;
	background: #8C66C8;
}
#new{
	text-align:center;
	display:inline;
	width: 90%;
	height: 10%;
}
.headLine {
	/* border: 2px inset; */
	border: 1px solid transparent;
	border-color: #E3C8F8;
	border-radius: 5px;
	background-color: white;
	width: 100%;
	height: 35px;
	font-size: 13px;
	overflow: hidden;
	box-shadow: 1px 2px 3px rgb(90 90 90/ 35%);
	/* margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 9px;
	margin-right: auto; */
}

.headList {
	line-height: 35px;
	vertical-align: middle; 
}

marquee {
	width: 960px;
}

#videobcg {
	position: fixed;
    top: 64px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
