@charset "UTF-8";
.alert {
	font-size: x-small;
	margin: 0;
}

/* 약관 상세 내용 상자 */
.termsDetail {
	width: 350px;
	height: 200px;
	overflow: scroll;
	-ms-overflow-style: none;
	border: 1px solid black;
}

/* 스크롤 숨기기 */
.termsDetail::-webkit-scrollbar {
	display: none;
}

/* 계좌번호 입력칸 */
.bp{
	width: 1em;
	height: 1em;
}

/* 진행 정도 */
#progress{
}
.far.fa-check-circle .fas.fa-check-circle{
	font-size: 13px;
	color: black;
}
