@charset "UTF-8";
input[type=button], input[type=submit] {
	height: 50px;	
}

.link:visited {
	color: black;
}
.link:hover{
	color: rgb(140, 102, 200);
}

.center {
	text-align: center;
}

.alert {
	font-size: x-small;
	color: red;
	margin: 0;
}

.barTop{
	border-bottom: 1px solid black;
	width: 300px;
}

.font1{
	font-size: 13px;
}


.right {
	text-align: right;
}

.left{
	text-align: left;
}

.w100 {
	width: 100%;
}

.w100 input[type=text], .w100 input[type=number], .w100 input[type=password], .w100 input[type=date]{
	width: 100%;
	height: 30px;
	padding: 5px;
	outline: none;
}

.w100 select{
	width: 100%;
	height: 30px;
	
}

.w100px{
	width: 100px;
}

.w50px{
	 width: 50px;
}

.w21px {
	width: 21px;
}

.w500px{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.back{
	width: 21px;
	height: 21px;
	cursor: pointer;
}
.btn1{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	background: white;
	border: 1px solid rgb(140, 102, 200);
	color: rgb(140, 102, 200);
}

.btn1:hover{
	background: rgb(140, 102, 200);
	border: 1px solid rgb(140, 102, 200);
	color: white;
}

.small{
	font-size: small;
}

.red {
	font-size: small;
	color: red;
}
.contents input:not(.btn1) {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}
.contents select {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.border {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.5);
	outline: none;
}