@charset "UTF-8";

#mc {
	width: 65%;
	min-width: 1024px;
	text-align: center;
	height: 50%;
	padding: 20px;
	margin: 25px auto;
	background-color: #fff;
    border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

.ctable {
/* 	border-top: 1px solid grey; */
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

.ctable tr {
	border-bottom: 1px solid #eeeeee;
	height: 35px;
	font-size: 15px;
}

.ctable tr:hover {
	background-color: #FCFCFC;
}

/* 긴 게시글 한줄에 짧게 표현하기 */
.ccontentSpan{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 2.4em;
    height: 2.4em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
    vertical-align: middle; 
}

/* 긴 댓글 한줄에 짧게 표현하기 */
.rcontentSpan{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 2.4em;
    height: 2.4em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
    vertical-align: middle; 
}

.subject {
	color: black;
	text-decoration: none;
}

.subject:hover, .subject:active {
	text-decoration: underline;
}

.replycnt {
	color: #999;
	font-size: 15px;
}

.replycnt:hover, .replycnt:active {
	text-decoration: underline;
}

/* 탭 메뉴 시작 */
.tab {
	width: 80%;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	margin: 0 auto;
	display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

.tablinks {
	width: 100%;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px;
	transition 0.3s;
}

.tablinks:hover {
  	background-color: #ddd;
}

.tablinksActive {
  	background-color: #ccc;
}

.tabcontent {
	margin: 0 auto;
	width: 80%;
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	border: 0.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

/* 탭 메뉴 끝 */


.expandBtn {
	height: 30px;
	font-size: 16px;
	background-color: #fff;
	color: #8C66C8,;
	padding: 0px 8px;
	border: 1px solid transparent;
	border-color: #E3C8F8;
  	border-radius: 4px;
  	cursor: pointer;
  	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
  	margin: 10px auto;
}