@charset "UTF-8";
#me {
	width: 65%;
	min-width: 1024px;
	text-align: center;
	height: 50%;
	padding: 20px;
	margin: 25px auto;
	background-color: #fff;
    border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

#money {
	width: 900px;
	height : 50px;
	margin: 0 auto;
	
}

#money ul {
	padding: 0;
}

#money li {
	list-style-type: none;
	float: left;
	width : 300px;
	box-sizing: border-box;
	font-size: 16px;
}

#money li:nth-last-of-type(2), #me li:nth-last-of-type(3) {
	border-right: solid black 1px;
}

.icon {
	vertical-align: middle;
}

#money span {
	font-size: 16px;
}

#me table {
	margin: 10px auto 0 auto;
}

/* 탭 메뉴 시작 */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

.tablinks {
	width: 100%;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px;
	transition 0.3s;
}

.tablinks:hover {
  	background-color: #ddd;
}

.tablinksActive {
  	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	border: 0.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

/* 탭 메뉴 끝 */

h3 {
	margin-top: 30px;
}

#coinTable {
	width : 80%;
	margin: 0 auto;
	border-collapse:collapse;
	border-top: 2px solid grey;
	border-left: none;
	border-right: none;
 	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%); 
}

#coinTable th, td {
	padding: 10px;
 	border: 0.1px solid #E3C8F8; 
	border-left: none;
	border-right: none;
	
}


#coinTable th {
	background-color: #f2f2f2;
}


.historyTable {
	width : 80%;
	margin: 0 auto;
	border-collapse:collapse;
	border-top: 2px solid grey;
	border-left: none;
	border-right: none;
 	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%); 
}

.historyTable th, td {
	padding: 10px;
 	border: 0.1px solid #E3C8F8; 
	border-left: none;
	border-right: none;
}

.historyTable th {
	background-color: #f2f2f2;
}


#chargeTable{
	margin: 0 auto;
	width: 50%;
	border-collapse:collapse;
	border-top: 2px solid grey;
	border-left: none;
	border-right: none;
 	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%); 
}

#chargeTable th, td {
	padding: 5px 10px 5px 0;
 	border: 0.1px solid #E3C8F8; 
	border-left: none;
	border-right: none;
}

#chargeTable th {
	padding: 10px;
	background-color: #f2f2f2;
}


#chargeTable td {
	padding-right: 35px;
}

.date {
	font-size: 11px;
	font-weight: lighter;
}


.expandBtn {
	height: 30px;
	font-size: 16px;
	background-color: #fff;
	color: #8C66C8,;
	padding: 0px 8px;
	border: 1px solid transparent;
	border-color: #E3C8F8;
  	border-radius: 4px;
  	cursor: pointer;
  	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
  	margin: 10px auto;
}
