@charset "UTF-8";

#mi {
	width: 65%;
	min-width: 1024px;
/* 	min-width: 500px; */
	text-align: center;
	height: 50%;
	padding: 20px;
	margin: 25px auto;
	background-color: #fff;
    border: 1px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

#title{
	padding: 20px;
	text-align: left;
	margin-left:8%;
}

#infoTable {
	margin: 0 auto;
	width: 80%;
	height: 500px;
	border-collapse:collapse;
	border-top: 2px solid grey;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

#infoTable th, td {
	border: 1px solid;
	text-align: left;
	padding: 21px;
	border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

#infoTable th {
	width: 150px;
	border-left: none;
	border-right: none;
	background-color: #f2f2f2;
}

#infoTable td {
	border-left: none;
	
}

#mi .insert, #mi #changeBtn {
	display: none;
}

.update {
	height: 30px;
	width : 35%;
	padding: 5px;
	border: 1.5px solid #E3C8F8;
	border-radius : 5px;
}

.infoField {
	height: 30px;
	width : 50%;
	padding: 0px;
	border: none;
}

.infoField:focus {outline:none;}

input[id="cb1"] + label {
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid #E3C8F8;
	cursor: pointer;
	border-radius: 3px;
}

input[id="cb1"]:checked + label {
	background-color: #343A40;
}

input[id="cb1"] {
	display: none;
}

input[id="cb2"] + label {
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid #E3C8F8;
	cursor: pointer;
	border-radius: 3px;
}

input[id="cb2"]:checked + label {
	background-color: #343A40;
}

input[id="cb2"] {
	display: none;
}

input[id="cb3"] + label {
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid #E3C8F8;
	cursor: pointer;
	border-radius: 3px;
}

input[id="cb3"]:checked + label {
	background-color: #343A40;
}

input[id="cb3"] {
	display: none;
}


input[id="cb4"] + label {
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid #E3C8F8;
	cursor: pointer;
	border-radius: 3px;
}

input[id="cb4"]:checked + label {
	background-color: #343A40;
}

input[id="cb4"] {
	display: none;
}

.infoBtn {
	height: 30px;
	font-size: 16px;
	background-color: #fff;
	padding: 0px 8px;
	border: 1px solid transparent;
	border-color: #E3C8F8;
  	border-radius: 4px;
  	cursor: pointer;
  	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
  	margin: 0 2%;
}