@charset "UTF-8";

#mpu {
	width: 65%;
	min-width: 1024px;
	text-align: center;
	height: 50%;
	padding: 20px;
	margin: 25px auto;
	background-color: #fff;
	border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

/* 탭 메뉴 시작 */
.tab {
	width: 80%;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	margin: 0 auto;
}

.tablinks {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 10%;
	transition 0.3s;
}

.tablinks:hover {
  	background-color: #ddd;
}

.tablinksActive {
  	background-color: #ccc;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 10%;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* 탭 메뉴 끝 */

#pwd{
	margin: 0 auto;
	width: 80%;
}

#pwdTable{
	width: 100%;
/* 	border: 1px solid; */
	margin: 0 auto;
}

#pwdWarning {
	width: 50%;
	border-left: 1px solid #ccc;
	padding: 15px;
}

#acntPwd{
	margin: 0 auto;
	width: 80%;
}




form {
	padding: 20px;
}

form input {
	width: 100%;
}

.btn1 {
	width: 300px;
}

.alert {
	height: 18px !important;
}

.star{
	color: red;
}