@charset "UTF-8";
a:visited{
    text-decoration: none;
}

#newsList {
/* 	border: 1px solid; */
	width: 65%;
	min-width: 1000px;
	height: 100%;
	padding:20px;
    margin-left: auto;
    margin-right: auto;
}

.newsSearch {
/* 	border: 1px solid; */
/* 	width: 1240px; */
	height: 55px;
	font-size: 13px;
	overflow: hidden;
	margin: 10px auto;
}

#search {
	width: 87%;
	height: 50px;
	font-size: 24px;
	overflow: hidden;
	margin-left: 10px; 	
	padding: 0 15px;
	border: 1px solid transparent;
	border-color: #dbdbdb;
  	border-radius: 4px;
}

#searchBtn {
	height: 50px;
	font-size: 24px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: #dbdbdb;
  	border-radius: 4px;
  	cursor: pointer;
}

.headLine {
	border: 2px inset;
	width: 97%;
	height: 40px;
	font-size: 13px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 9px;
	margin-right: auto;
}

.headList {
	line-height: 40px;
	vertical-align: middle; 
}

#headTime {
	color: grey;
}

.newsList {
/* 	border: 1px solid; */
	clear: both;
	width: 100%;
	height: 350px;
	margin: 0 auto;
}

.newsLabel {
	margin: 10px;
	position: relative;
	width: 31%;
	height: 300px;
	float: left;
	border: 1.5px solid #f2f2f2;
	border-radius: 5px;
	box-shadow: 3px 3px 3px grey;
	display: inline-block;
}

.newsThumbnail {
	width: 100%;
	height: 60%;
	border-radius: 5px;
}

#newsTitle {
	width: 95%;
	height: 50px;
	margin: 0;
	padding: 8px 10px 5px 10px;
}

#newsTime {
	width: 95%;
	height: 20px;
	text-align: right;
}

.newsPage {
/* 	border: 1px solid; */
	clear: both;
	width: 500px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

.pageBtn{
	border: none;
	outline: none;
	background-color: white;
	margin-top: 20px ;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: #dbdbdb;
  	border-radius: 4px;
  	font-size: 15px;
  	cursor: pointer;
}

#page {
  color: black;
  padding: 8px 16px;
  transition: background-color .3s;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
  cursor: pointer;
}

.pageActive {
  background-color: #B85CEF;
  color: white;
}

#page:hover:not(.active) {background-color: #E3C8F8;} 

#space {
	height: 100px;
}