@charset "UTF-8";

.wrapper {
	margin: 10px;
}

.headLine {
	border: 1px solid;
	width : 1000px;
	height : 50px;
	font-size : 13px;
	overflow: hidden;
}
.headList {
	width: 4200px;
}

.headli{
	float: left;
	margin: 3px 10px;
	
}