@charset "UTF-8";

.wrapper {
	margin: 10px;
}

.headLine {
	border: 1px solid;
	width: 1240px;
	height: 50px;
	font-size: 13px;
	overflow: hidden;
	margin: 10px auto;
}

.headList {
	line-height: 50px;
	vertical-align: middle;
}

#headTime {
	color: grey;
}

.newsList {
	clear: both;
	width: 1120px;
	height: 350px;
	margin: 0 auto;
}

.newsLabel {
	margin: 10px;
	position: relative;
	width: 30%;
	height: 300px;
	float: left;
	border: 1.5px solid #f2f2f2;
	border-radius: 5px;
	box-shadow: 3px 3px 3px grey;
	display: inline-block;
}

.newsThumbnail {
	width: 100%;
	height: 60%;
	border-radius: 5px;
}

#newsTitle {
	width: 95%;
	height: 50px;
	margin: 0;
	padding: 8px 10px 5px 10px;
}

#newsTime {
	width: 95%;
	height: 20px;
	text-align: right;
}

.newsPage {
/* 	border: 1px solid; */
	clear: both;
	width: 500px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

.newsPage a {
  color: black;
  padding: 8px 16px;
  transition: background-color .3s;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
}

.newsPage a.active {
  background-color: #B85CEF;
  color: white;
}

.newsPage a:hover:not(.active) {background-color: #E3C8F8;}