@charset "UTF-8";

#writeWrapper {
	width: 90%;
	height: calc(100% - 100px);
	position: absolute;
	top: 10%;
	left: 200px;
	background-color: rgba(242, 242, 242, 0.3);
}

#writeOut{
	width: 65%;
	min-width: 1000px;
	background-color: #ffffff;
	margin: 70px auto;
	padding: 20px;
	border-radius: 4px;
	position: absolute;
    top: 3%;
    left: 5%;
    border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

.ck.ck-editor {
	max-width: 1200px;
}

.ck-editor__editable {
	min-height: 600px;
}

.comm {
	margin: 40px 0 20px 20px;
	text-align: left;
	font-size: 25px;
	color: #FFC000;
	float: left;
}

#write {
	margin: 40px 0 20px 10px;
	text-align: left;
	font-size: 17px;
	color: black;
	float: left;
}

#subject {
	margin: 0 auto 10 auto;
	height: 40px; 
	font-size: 15px; 
	box-sizing: border-box;
	width:100%;
	background-color: #FBFBFC;
	border: 1px solid #D5D5D5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#subject:hover, #subject:focus {
	background-color: #ffffff;
	color: black;
	border: 1px solid #BDBDBD;
}

#folder {
	float: right;
    position: relative;
    left: 53px;
    top: 8px;
}

#file_text {
	color: black;
    font-size: 14px;
    float: right;
    width: 150px;
    position: relative;
    top: 10px;
    left: 60px;
}

#file {
    position: relative;
    bottom: 95px;
    left: 74px;
    border: none;
    float: right;
}

input#file-upload-button{
	background-color:#ffffff;
	color:black;
}
input #file-upload-button{
	background-color:#ffffff;
	color:black;
}

#submit {
	width: 125px;
	height: 35px;
	padding: 5px;
	margin: 30px 0 50px 0;
	border: none;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	background-color: #8C66C8;
	font-size: 15px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

#cancel {
	width: 90px;
	height: 35px;
	padding: 5px;
	margin: 30px 0px 0px 0;
	border: none;
	border-radius: 4px;
	text-align: center;
	color: #8C66C8;
	background-color: #ffffff;
	font-size: 15px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	display: inline;
}

#submit:hover, #submit:active {
	background-color: #B85CEF;
	box-shadow: 10px 10px 20px 5px #eeeeee;
}

#cancel:active, #cancel:hover {
	box-shadow: 10px 10px 20px 5px #eeeeee;
}
