.pinpad-dimmed .low *, .pinpad-dimmed .low *::before, .pinpad-dimmed .low *::after
	{
	box-sizing: border-box;
}

.wrapper {
	background-color: rgba(0, 0, 0, 0.25) ! important;
}

.pinpad-dimmed {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1000000;
}

.table td, .table th {
	border-top: 0px !important;
}

body.pinpad-noscroll {
	overflow-y: hidden;
}

/* pinpad 전체 배경색*/
.pinpad-dimmed .inner_wrapper {
	display: grid;
	width: 100%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.25);
}

.pinpad-dimmed .inner_wrapper>div {
	width: 100%;
	display: table;
}

/* 모달 배경색 */
.pinpad-dimmed.window {
	display: table;
}

.pinpad-dimmed.window .wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.pinpad-dimmed.window .inner_wrapper {
	display: inline-block;
	width: 420px;
}

.pinpad-dimmed.window .high {
	height: 210px !important;
}

/* 비밀번호가 적히는 부분 상판*/
.pin-board {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	vertical-align: top;
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(140, 102, 200, 0.5);
	/* border:1px solid #fff; */
}

.table {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.table tr:first-child {
	height: 10px;
}

.table tr:nth-child(2) {
	height: 50px;
}

.table tr:last-child(2) {
	height: 160px;
}

/*pinboard에 적히는 비밀번호 색 */
.pin-board .pin {
	position: relative;
	font-size: 30px;
	min-height: 30px;
	max-height: 30px;
	letter-spacing: 0.3em;
	width: 100%;
	color: black;
	word-break: break-all;
	padding-bottom: 50px;
}

.pin-board .pin-desc {
	font-size: 20px;
	min-height: 30px;
	max-height: 30px;
	text-align: center;
}

.pinpad {
	width: 100%;
	height: 255px;
	vertical-align: bottom;
	display: table-cell;
	padding-left: 67.5px;
}

/* 숫자판 */
.pinpad .number {
	text-align: center;
	width: 75px;
	height: 75px;
	text-align: center;
	float: left;
	cursor: pointer;
	user-select: none;
	margin: 5px 10px;
	text-shadow: 0 0 0 rgb(102, 101, 101);
	/* 실제 사이즈는 85*95 */
}

.pinpad .number:hover {
	background: rgba(140, 102, 200, 0.5);
	color: #fff;
	border-radius: 100%;
}

.pinpad .number span {
	vertical-align: middle;
	font-size: 26px;
	font-weight: 400;
	color: black;
}