@charset "UTF-8";
#rank {
	width: 1000px;
	height: 1000px;
	margin: 25px auto;
	text-align: center;
	background-color: #fff;
	border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

#rank table {
	margin: 0 auto;
}

#rank table th, #rank table td, #rank table a {
	font-size: 15px;
}

#rank ul {
	display: flex;
	justify-content: space-evenly;
}

#rank li {
	list-style-type: none;
}

.rankImg {
	margin-top: 95px;
	width: 200px;
	height: 200px;
}

.no1 {
	width: 250px;
	height: 250px;
}

.rankFont {
	font-size: 20px;
}

/* 랭킹 스와이프 메뉴 시작 */
input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 7px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1.0s ease, opacity 0.5s;
  cursor: pointer;
  background: white;
  color: #8c66c8;
  border-radius: 5px;
}

.info {
  position: absolute;
  width: 100%;
  height: 50px;
  vertical-align: middle;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: transform 5.0s ease-in;
  cursor: pointer;
  background: #8c66c8;
  color: white;
  font-size: 16px;
  display: none;
}

.container {
  width: 1000px;
  max-width: 1000px;
  max-height: 150px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

#item-1:checked ~ .cards #rank-4, #item-2:checked ~ .cards #rank-1, #item-3:checked ~ .cards #rank-2, #item-4:checked ~ .cards #rank-3 {
  transform: translatex(-100%);
  opacity: 0.3;
  z-index: 0;
}

#item-1:checked ~ .cards #rank-2, #item-2:checked ~ .cards #rank-3, #item-3:checked ~ .cards #rank-4, #item-4:checked ~ .cards #rank-1 {
  transform: translatex(100%);
  opacity: 0.3;
  z-index: 0;
}

#item-1:checked ~ .cards #rank-1, #item-2:checked ~ .cards #rank-2, #item-3:checked ~ .cards #rank-3, #item-4:checked ~ .cards #rank-4 {
  transform: translatex(0) scale(1.2);
  opacity: 1;
  z-index: 1;
  background: #8c66c8;
  color: white;
  }
  
#item-1:checked ~ .cards #rank-info-4, #item-2:checked ~ .cards #rank-info-1, #item-3:checked ~ .cards #rank-info-2, #item-4:checked ~ .cards #rank-info-3 {
  transform: translatex(-100%);
  z-index: 0;
}

#item-1:checked ~ .cards #rank-info-2, #item-2:checked ~ .cards #rank-info-3, #item-3:checked ~ .cards #rank-info-4, #item-4:checked ~ .cards #rank-info-1 {
  transform: translatex(100%);                                                                     
  z-index: 0;                                                                                      
}                                                                                                  
                                                                                                   
#item-1:checked ~ .cards #rank-info-1, #item-2:checked ~ .cards #rank-info-2, #item-3:checked ~ .cards #rank-info-3, #item-4:checked ~ .cards #rank-info-4 {
  transform: translatex(0);
  opacity: 1;
  z-index: 1;
  background: #8c66c8;
  color: white;
  }

  
/* 랭킹 스와이프 메뉴 끝 */

/* 랭킹 정보 시작 */
/* .info{ */
/* 	width: 1240px; */
	
/* } */
/* 랭킹 정보 끝 */

#daily {
	width: 65%;
	min-width: 900px;
	height: 80%;
	padding:20px;
	margin: 10px auto 25px;
    background-color: #fff;
    border: 2px solid #f2f2f2;
/*     border: 1.5px solid #E3C8F8; */
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
/* 	display: flex; */
/* 	flex-wrap: wrap; */
/* 	align-content: flex-start; */
}

.ranktable {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
/* 	border: 1px solid #eeeeee; */
 	border-spacing: 0 1rem;
}

.ranktable tr {
	border-bottom: 1px solid #eeeeee;
	height: 35px;
	
}

.ranktable th {
	background-color: #f1f1f1;
	padding-left: 123px;
}

.ranktable td {
	width: 33.3%;
	padding-left: 123px;
}



.top3{
	margin-bottom: 10px;
	width: 100%;
	height: 247px;
}

#accumulative {
	display: none;
}

.ranktable a {
	color: #8c66c8;
}
