@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: NanumSquareRound;
/*     font-weight: 700; elicedigitalbaeum*/
	font-weight: 600;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*:not(h1, h2, h3, h4, header) {
	font-size: 14.5px;
}

.shadow{
	box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.25) !important;
}

/*ul 왼쪽 공백 padding 조절*/
ul {
    -webkit-padding-start: 10px;
}

ul li {
    
    list-style: none;    
}
a, a:visited, a:hover, a:active, a:enabled {
    text-decoration: none;
}
html,body {
    margin:0;
    padding:0;
    height:100vh;
}

#wrapper {
	position:relative;
	min-height: 100%;
	padding-bottom: 54px;
	background-color: rgba(242, 242, 242, 0.3);
}

#container {
	height: 100%;
	padding: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.content {
	/* font-weight: 500; */
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 1.5;
}

/* 스크롤 숨기기 */
*{
	-ms-overflow-style: none;
}

*::-webkit-scrollbar {
	display: none;
}

/* 텍스트 드래그 시 */
::-moz-selection {
   background: #8c66c8;
   color: #fff;
}

::selection {
   background: #8c66c8;
   color: #fff;
}
