@charset "UTF-8";

@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

* {
	margin: 0;
	padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'S-CoreDream-5Medium';
}


/*ul 왼쪽 공백 padding 조절*/
ul {
    -webkit-padding-start: 10px;
}

ul li {
    
    list-style: none;    
}
a {
    text-decoration: none;
}
a:visited{
    color: #000;
}
