@charset "UTF-8";

.ck.ck-editor {
	max-width: 100%;
}

.ck-editor__editable {
	min-height: 500px;
}
.updateOut {
	width: 50%;
	min-width: 1000px;
	height: 95%;
	padding: 20px;
	margin: 25px auto;
    background-color: #fff;
    border: 1.5px solid #E3C8F8;
	box-shadow: 1px 1px 3px rgb(90 90 90/ 35%);
}

.comm {
	margin: 40px 0 20px 20px;
	text-align: left;
	font-size: 25px;
	color: #FFC000;
	float: left;
}

#write {
	margin: 40px 0 20px 10px;
	text-align: left;
	font-size: 17px;
	color: black;
	float: left;
}

#subject {
	margin: 0 auto 10 auto;
	height: 40px;
	font-size: 15px;
	box-sizing: border-box;
	width: 100%;
	background-color: #FBFBFC;
	border: 1px solid #D5D5D5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	
}

#subject:hover, #subject:focus {
	background-color: #ffffff;
	color: black;
	border: 1px solid #BDBDBD;
}

#folder {
	float: right;
	position: relative;
	left: 13px;
	top: 18px;
}

#oldFolder {
 	float: left;
    position: relative;
    right: 6px;
    bottom: 2px;
}

#file_text {
	color: black;
	font-size: 14px;
	float: right;
	width: 150px;
	position: relative;
	top: 20px;
	left: 20px;
	
}

#file {
    position: relative;
    top: 55px;
    left: 264px;
    border: none;
    float: right;
    font-size: 14px;
}

#oldFileDiv {
	float: right;
    font-size: 14px;
    position: relative;
    top: 22px;
    left: 190px;
}

#submit {
	width: 125px;
	height: 35px;
	padding: 5px;
	margin: 30px 0 50px 0;
	border: none;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	background-color: #8C66C8;
	font-size: 15px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;
}

#cancel {
	width: 90px;
	height: 35px;
	padding: 5px;
	margin: 30px 0px 0px 0;
	border: none;
	border-radius: 4px;
	text-align: center;
	color: #8C66C8;
	background-color: #ffffff;
	font-size: 15px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	display: inline;
	cursor: pointer;
}

#submit:hover, #submit:active {
	background-color: #B85CEF;
	box-shadow: 10px 10px 20px 5px #eeeeee;
}

#cancel:active, #cancel:hover {
	box-shadow: 10px 10px 20px 5px #eeeeee;
}
