<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Board">
	<!-- config에서 선언한 별칭을 사용한 namespace를 통해 해당 mapper를 접근한다 -->
	<resultMap type="Board" id="resultBoard">
		<!-- class와 table의 컬럼명이 동일할 경우, 따로 기입하지 않아도 된다 -->
	</resultMap>

	<!-- 게시글 전체 개수 조회 -->
	<select id="listCount" resultType="int">
		SELECT count(*) FROM BOARD
	</select>

	<!-- 페이지당 게시글 조회 -->
	<select id="selectList" resultType="arraylist" resultMap="resultBoard">
		SELECT * FROM BOARD
	</select>

	<!-- 게시글 단일 조회 -->
	<select id="selectOne" parameterType="string" resultType="Board">
		SELECT * FROM BOARD
		WHERE BOARD_NUM = #{board_num}
	</select>

	<!-- 검색한 게시글 조회 -->
	<select id="searchList" parameterType="string"
		resultType="arraylist" resultMap="resultBoard">
		SELECT * FROM BOARD
		WHERE BOARD_TITLE LIKE '%'|| #{keyword} ||'%'
		OR BOARD_CONTENT LIKE '%'|| #{keyword} ||'%'
		ORDER BY REGDATE DESC
	</select>

	<!-- 게시글 삽입 -->
	<insert id="insertBoard" parameterType="Board"
		flushCache="true" statementType="PREPARED">
		INSERT INTO BOARD VALUES(
		'BO'||TO_CHAR(SYSDATE,'RRMMDD')||LPAD(BOARD_SEQ.NEXTVAL,2,'0'),
		#{board_writer}, #{board_title}, 0,
		SYSDATE, #{board_content},
		#{board_file},
		#{board_pwd})
	</insert>

	<!-- 게시글 조회 수 증가 -->
	<update id="addReadCount" parameterType="string"
		flushCache="true" statementType="PREPARED">
		UPDATE BOARD
		SET READ_COUNT = READ_COUNT+1
		WHERE BOARD_NUM = #{board_num}
	</update>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board" flushCache="true"
		statementType="PREPARED">
		UPDATE BOARD
		SET BOARD_TITLE = #{board_title},
		BOARD_CONTENT = #{board_content},
		BOARD_FILE = #{board_file}
		WHERE BOARD_NUM = #{board_num} AND BOARD_PWD = #{board_pwd}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="string"
		flushCache="true" statementType="PREPARED">
		DELETE FROM BOARD
		WHERE BOARD_NUM = #{board_num}
	</delete>
</mapper>
