<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bought">
	<!-- config에서 선언한 별칭을 사용한 namespace를 통해 해당 mapper를 접근한다 -->
	<resultMap type="Bought" id="resultBought">
		<!-- class와 table의 컬럼명이 동일할 경우, 따로 기입하지 않아도 된다 -->
	</resultMap>

	<!-- 미체결 삽입 -->
	<insert id="insertBought" parameterType="Bought" flushCache="true"
		statementType="PREPARED">
		INSERT INTO BOUGHT VALUES(
		SEQ_BOUGHT.NEXTVAL, #{coin}, #{buycnt}, #{buyprice}, default, #{acntno})
	</insert>

   <delete id="deleteBought" parameterType="Integer"	flushCache="true" statementType="PREPARED">
		DELETE FROM BOUGHT WHERE UBNO = #{ubno}
	</delete>
	
	<select id="selectListBought" resultType="arraylist" resultMap="resultBought">
		SELECT * FROM BOUGHT WHERE ACNTNO = #{acntno} ORDER BY BDATE DESC
	</select>
	
</mapper>
