<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cash">
	<resultMap type="Cash" id="resultCash">
	</resultMap>
	<!-- 충전 상품 등록 -->
	<insert id="registerCash" parameterType="Cash" flushCache="true"
		statementType="PREPARED">
		INSERT INTO CASH VALUES(SEQ_CASH.NEXTVAL,
		#{price},
		#{discountrate}, #{sellprice}, #{won}, #{startdate}, #{enddate},
		default)
	</insert>

	<!-- 기한 내의 충전 상품 리스트 불러오기 -->
	<select id="selectNowCash" resultType="arraylist"	resultMap="resultCash">
		SELECT * FROM CASH WHERE STARTDATE <![CDATA[<=]]> SYSDATE AND ENDDATE <![CDATA[>=]]> SYSDATE ORDER BY PRICE
	</select>

	<!-- 기한 지난 충전 상품 리스트 불러오기 -->
	<select id="selectOldCash" resultType="arraylist"
		resultMap="resultCash">
		SELECT * FROM CASH WHERE ENDDATE <![CDATA[<=]]> SYSDATE ORDER BY CASHNO
	</select>
	
	<!-- 결제 상품액 충전 -->
	<update id="chargeCash" parameterType="Acnt" flushCache="true"
		statementType="PREPARED">
		UPDATE ACNT
		SET CYBCASH = CYBCASH + #{cybcash}
		WHERE EMAIL = #{email}
	</update>

	<!-- 충전 상품 구매 내역 기록 -->
	<insert id="insertCashLog" parameterType="CashLog" flushCache="true"
		statementType="PREPARED">
		INSERT INTO CASHLOG VALUES(SEQ_CASHLOG.NEXTVAL,
		default, #{acntno}, #{email}, #{won}, #{sellprice})
	</insert>
</mapper>
