<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cdislike">
	<resultMap type="Cdislike" id="resultCdislike">
	</resultMap>

	<!-- 비추천 삽입 -->
	<insert id="insertDislike" parameterType="Cdislike" flushCache="true"
		statementType="PREPARED">
		INSERT INTO CDISLIKE VALUES(#{cno}, #{email})
	</insert>

	<!-- 커뮤니티 테이블에 비추천수 +1 -->
	<update id="addDislikeCount" parameterType="string"
		flushCache="true" statementType="PREPARED">
		UPDATE COMMUNITY
		SET DISLIKECNT =
		DISLIKECNT+1 WHERE CNO = #{cno}
	</update>

	<!-- 비추천 삭제 -->
	<delete id="deleteDislike" parameterType="Cdislike" flushCache="true"
		statementType="PREPARED">
		DELETE FROM CDISLIKE WHERE CNO = #{cno} AND EMAIL =	#{email}
	</delete>


	<!-- 커뮤니티 테이블에 비추천수 -1 -->
	<update id="subDislikeCount" parameterType="string"
		flushCache="true" statementType="PREPARED">
		UPDATE COMMUNITY
		SET DISLIKECNT =
		DISLIKECNT-1 WHERE CNO = #{cno}
	</update>

	<!-- 해당 게시글 비추천 유무 조회 -->
	<select id="selectIsDislike" parameterType="Cdislike" resultType="int">
		SELECT COUNT(*) FROM CDISLIKE WHERE CNO = #{cno} AND EMAIL = #{email}	
	</select>
	
	<!-- 비추천 개수 조회 -->
	<select id="selectDislikeCount" parameterType="Cdislike" resultType="int">
		SELECT COUNT(*) FROM CDISLIKE WHERE CNO = #{cno}
	</select>
</mapper>