<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="coinacnt">
	<resultMap type="CoinAcnt" id="resultCoinAcnt">
	</resultMap>

	<!-- 계좌 정보 가져오기 -->
	<select id="selectMyCoinAcnt" parameterType="string"
		resultType="CoinAcnt">
		SELECT * FROM COINACNT WHERE ACNTNO = #{acntno}
	</select>

	<select id="countCoin" parameterType="CoinAcnt"
		resultType="CoinAcnt">
		SELECT * FROM COINACNT WHERE ACNTNO = #{acntno} AND COIN =
		#{coin}
	</select>


	<!-- 금액 변경 -->
	<update id="updateCoinAcnt" parameterType="CoinAcnt">
		UPDATE COINACNT
		SET
		BUYCNT = #{buycnt}
		WHERE ACNTNO = #{acntno} AND COIN = #{coin}
	</update>


	<!-- 매수 체결 후, 코인계좌에 삽입 -->
	<insert id="afterBoughtCoinAcnt" parameterType="WaitBought"
		flushCache="true" statementType="PREPARED">
		MERGE INTO COINACNT A
		USING (SELECT *
		FROM WAITBOUGHT WHERE COIN=#{coin} AND
		BUYPRICE=#{buyprice}) B
		ON
		(A.COIN = B.COIN AND A.ACNTNO = B.ACNTNO)
		WHEN MATCHED THEN
		UPDATE
		SET
		A.BUYCNT = A.BUYCNT + B.BUYCNT,
		A.BUYPRICE = (A.BUYPRICE*A.BUYCNT +
		B.BUYPRICE* B.BUYCNT)/(A.BUYCNT + B.BUYCNT)
		WHEN NOT MATCHED THEN
		INSERT (CANO, COIN, BUYCNT, BUYPRICE, ACNTNO)
		VALUES
		(SEQ_COINACNT.nextval, B.COIN, B.BUYCNT, B.BUYPRICE, B.ACNTNO)
	</insert>

	<!-- 매도 체결 후 코인 개수가 0 인 경우 매입 단가를 0으로 만듬 -->

	<update id="makePriceZero">
		UPDATE COINACNT
		SET
		BUYPRICE = 0
		WHERE
		BUYCNT = 0
	</update>

	<!-- 미체결 삽입 -->
	<insert id="insertCoinAcnt" parameterType="CoinAcnt"
		flushCache="true" statementType="PREPARED">
		INSERT INTO COINACNT VALUES(
		SEQ_COINACNT.NEXTVAL, #{coin}, #{buycnt}, #{buyprice}, #{acntno})
	</insert>

	<delete id="deleteCoinAcnt" parameterType="Integer"
		flushCache="true" statementType="PREPARED">
		DELETE FROM COINACNT WHERE CANO =
		#{cano}
	</delete>

	<!-- 전체 코인계좌 정보 가져오기, 랭킹용 -->
	<select id="selectAllCoinAcnt" resultType="arraylist"
		resultMap="resultCoinAcnt">
		SELECT * FROM COINACNT ORDER BY ACNTNO
	</select>

</mapper>
