<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">
	<resultMap type="Community" id="resultCommunity">
	</resultMap>


	<!-- 메인에 사용할 인기 게시글 4개 불러오기 -->
	<select id="selectMainCommunityList"
		resultType="arraylist" resultMap="resultCommunity">
		select * from
		(select rownum, a.* from
		(select * from community where substr(cdate, 0, 10) &gt;=
		to_char(sysdate-7,'yyyy-mm-dd') order by likecnt desc, dislikecnt asc,
		replycnt desc) a) b where rownum &lt;= 4

	</select>
	
	<!-- 공지사항 제외 인스타 다 불러오기 -->
	<select id="selectCommunityList" parameterType="Paging"
		resultType="arraylist" resultMap="resultCommunity">
		SELECT * FROM (SELECT ROWNUM R, D.*
		FROM (SELECT * FROM COMMUNITY WHERE CWRITER NOT LIKE '%관리%' AND CWRITER NOT LIKE '%운영%' ORDER BY CNO DESC) D) WHERE R BETWEEN
		#{start} AND #{start}+#{plus}
	</select>

	<!-- 검색한 게시글 조회 -->
	<select id="searchListSubject" parameterType="string"
		resultType="arraylist" resultMap="resultCommunity">
		SELECT *
		FROM
		COMMUNITY
		WHERE (CSUBJECT LIKE '%'||UPPER(#{keyword})||'%'
		OR CSUBJECT LIKE '%'||LOWER(#{keyword})||'%')
		AND (CWRITER NOT LIKE '%관리%' AND CWRITER NOT LIKE '%운영%')
	</select>

	<select id="searchListWriter" parameterType="string"
		resultType="arraylist" resultMap="resultCommunity">
		SELECT *
		FROM
		COMMUNITY
		WHERE (CWRITER LIKE '%'||UPPER(#{keyword})||'%'
		OR CWRITER LIKE '%'||LOWER(#{keyword})||'%')
		AND (CWRITER NOT LIKE '%관리%' AND CWRITER NOT LIKE '%운영%')
	</select>

	<!-- 조회수 상위 5개 게시글 조회 -->
	<select id="searchpopularList" resultType="arraylist"
		resultMap="resultCommunity">
		SELECT * FROM COMMUNITY WHERE ROWNUM &lt;=5 ORDER BY VIEWCNT
		DESC
	</select>

	<!-- 페이지당 게시글 조회 -->
	<select id="selectList" resultType="arraylist"
		resultMap="resultCommunity">
		SELECT * FROM COMMUNITY ORDER BY CNO DESC
	</select>

	<!-- 게시글 전체 개수 조회 -->
	<select id="countCommunity" resultType="int">
		SELECT count(*) FROM COMMUNITY WHERE CWRITER LIKE '%관리자%'
	</select>
	<!-- 오늘 게시글 전체 개수 조회 -->
	<select id="countTodayCommunity" resultType="int">
		SELECT count(*) FROM
		COMMUNITY WHERE CDATE LIKE TO_CHAR(SYSDATE, 'YYYY-MM-DD%')
	</select>

	<!-- 해당 게시글의 댓글 개수 조회 -->
	<select id="countReply" resultType="int">
		SELECT REPLYCNT FROM
		COMMUNITY WHERE CNO = #{cno}
	</select>

	<!-- 게시글 단일 조회 -->
	<select id="selectOne" parameterType="string"
		resultType="Community">
		SELECT * FROM COMMUNITY WHERE CNO = #{cno}
	</select>

	<!-- 게시글 삽입 -->
	<insert id="insertCommunity" parameterType="String"
		flushCache="true" statementType="PREPARED">
		INSERT INTO COMMUNITY VALUES(
		LPAD(SEQ_COMMUNITY.NEXTVAL,5,'0'),
		#{csubject}, #{ccontent}, default,
		#{filepath}, 0, 0, 0, 0, #{cwriter})
	</insert>

	<!-- 게시글 수정 -->
	<update id="updateCommunity" parameterType="Community"
		flushCache="true" statementType="PREPARED">
		UPDATE COMMUNITY
		SET CSUBJECT =
		#{csubject},
		CCONTENT = #{ccontent},
		FILEPATH = #{filepath}
		WHERE CNO =
		#{cno}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteCommunity" parameterType="string"
		flushCache="true" statementType="PREPARED">
		DELETE FROM COMMUNITY WHERE CNO =
		#{cno}
	</delete>

	<!-- 게시글 조회 수 증가 -->
	<update id="addReadCount" parameterType="string"
		flushCache="true" statementType="PREPARED">
		UPDATE COMMUNITY SET VIEWCNT =
		VIEWCNT+1 WHERE CNO = #{cno}
	</update>

	<!-- 공지사항 조회 -->
	<select id="selectNoticeList" resultType="arraylist"
		resultMap="resultCommunity">
		SELECT * FROM COMMUNITY WHERE CWRITER LIKE '%관리자%' ORDER BY CNO DESC
	</select>
</mapper>
