<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ranking">
	<resultMap type="Daily" id="resultDaily"></resultMap>
	<resultMap type="Accumulative" id="resultAccumulative"></resultMap>
	<resultMap type="Weekly" id="resultWeekly"></resultMap>
	<resultMap type="Monthly" id="resultMonthly"></resultMap>

	<!-- Daily 수익률 변경 -->
	<update id="updateDaily" parameterType="Daily" flushCache="true"
		statementType="PREPARED">
		UPDATE DAILY
		SET OLDESSET = #{oldesset},
		NEWESSET =
		#{newesset},
		YIELD = ((#{newesset}/#{oldesset})-1)*100
		WHERE ACNTNO =
		#{acntno}
	</update>

	<!-- Accumulative 수익률 변경, 모든 랭킹 VO는 Daily와 동일하기 때문에, Daily를 매개변수로 넣는다 -->
	<update id="updateAccumulative" parameterType="Daily"
		flushCache="true" statementType="PREPARED">
		UPDATE ACCUMULATIVE
		SET OLDESSET =
		#{oldesset},
		NEWESSET = #{newesset},
		YIELD =
		((#{newesset}/#{oldesset})-1)*100
		WHERE ACNTNO =
		#{acntno}
	</update>

	<!-- Weekly 수익률 변경 -->
	<update id="updateWeekly" parameterType="Daily"
		flushCache="true" statementType="PREPARED">
		UPDATE WEEKLY
		SET OLDESSET =
		#{oldesset},
		NEWESSET =
		#{newesset},
		YIELD =
		((#{newesset}/#{oldesset})-1)*100
		WHERE ACNTNO =
		#{acntno}
	</update>

	<!-- Monthly 수익률 변경 -->
	<update id="updateMonthly" parameterType="Daily"
		flushCache="true" statementType="PREPARED">
		UPDATE MONTHLY
		SET OLDESSET =
		#{oldesset},
		NEWESSET =
		#{newesset},
		YIELD =
		((#{newesset}/#{oldesset})-1)*100
		WHERE ACNTNO =
		#{acntno}
	</update>

	<!-- 현질 금액 제거 -->
	<select id="subtractDailyCashLog" parameterType="string"
		resultType="long">
		select nvl(sum(won), 0) from cashlog where substr(cashdate, 0, 10) =
		to_char(sysdate-1, 'yyyy-mm-dd')
		AND ACNTNO=#{acntno}
	</select>

	<!-- 현질 금액 제거 -->
	<select id="subtractWeeklyCashLog" parameterType="string"
		resultType="long">
		select nvl(sum(won), 0)
		from cashlog
		where substr(cashdate, 0, 10) &gt;= to_char(sysdate-7,'yyyy-mm-dd')
		AND substr(cashdate, 0, 10) &lt;= to_char(sysdate-1, 'yyyy-mm-dd')
		AND ACNTNO=#{acntno}
	</select>

	<!-- 현질 금액 제거 -->
	<select id="subtractMonthlyCashLog" parameterType="string"
		resultType="long">
		select nvl(sum(won), 0) from cashlog where substr(cashdate, 0, 7) = to_char(sysdate +
		INTERVAL '-1' MONTH, 'yyyy-mm')
		AND ACNTNO=#{acntno}
	</select>


	<!-- 회원가입 시, Daily 랭킹에 참가 -->
	<insert id="insertDaily" parameterType="Daily" flushCache="true"
		statementType="PREPARED">
		INSERT INTO DAILY VALUES(
		#{acntno}, #{email},
		#{nickname}, DEFAULT, DEFAULT, 0
		)
	</insert>

	<!-- 회원가입 시, Accumulative 랭킹에 참가, 모든 랭킹 VO는 Daily와 동일하기 때문에, Daily를 매개변수로 
		넣는다 -->
	<insert id="insertAccumulative" parameterType="Daily"
		flushCache="true" statementType="PREPARED">
		INSERT INTO ACCUMULATIVE VALUES(
		#{acntno}, #{email}, #{nickname}, DEFAULT, default, 0
		)
	</insert>

	<!-- 회원가입 시, Weekly 랭킹에 참가 -->
	<insert id="insertWeekly" parameterType="Daily"
		flushCache="true" statementType="PREPARED">
		INSERT INTO WEEKLY VALUES(
		#{acntno},
		#{email}, #{nickname}, DEFAULT, default, 0
		)
	</insert>

	<!-- 회원가입 시, Monthly 랭킹에 참가 -->
	<insert id="insertMonthly" parameterType="Daily"
		flushCache="true" statementType="PREPARED">
		INSERT INTO Monthly VALUES(
		#{acntno},
		#{email}, #{nickname}, DEFAULT, default, 0
		)
	</insert>

	<!-- Daily 랭킹 가져오기 -->
	<select id="selectDaily" resultType="arraylist"
		resultMap="resultDaily">
		SELECT * FROM DAILY ORDER BY
		YIELD DESC
	</select>

	<!-- 나의 Daily 정보 가져오기 -->
	<select id="selectMyDaily" parameterType="string"
		resultType="Daily">
		SELECT * FROM DAILY WHERE EMAIL = #{email}
	</select>

	<!-- 나의 Daily 순위 가져오기 -->
	<select id="selectMyDailyRank" parameterType="string"
		resultType="int">
		select b.* from (select rownum, a.* from (select * from
		daily order by yield desc) a) b where email= #{email}
	</select>

	<!-- Accumulative 랭킹 가져오기 -->
	<select id="selectAccumulative" resultType="arraylist"
		resultMap="resultAccumulative">
		SELECT * FROM Accumulative ORDER BY
		YIELD DESC
	</select>

	<!-- 나의 Accumulative 정보 가져오기 -->
	<select id="selectMyAccumulative" parameterType="string"
		resultType="Accumulative">
		SELECT * FROM Accumulative WHERE EMAIL = #{email}
	</select>

	<!-- 나의 Accumulative 순위 가져오기 -->
	<select id="selectMyAccumulativeRank" parameterType="string"
		resultType="int">
		select b.* from (select rownum, a.* from (select * from
		Accumulative order by yield desc) a) b where email= #{email}
	</select>

	<!-- Weekly 랭킹 가져오기 -->
	<select id="selectWeekly" resultType="arraylist"
		resultMap="resultWeekly">
		SELECT * FROM Weekly ORDER BY
		YIELD DESC
	</select>

	<!-- 나의 Weekly 정보 가져오기 -->
	<select id="selectMyWeekly" parameterType="string"
		resultType="Weekly">
		SELECT * FROM Weekly WHERE EMAIL = #{email}
	</select>

	<!-- 나의 Weekly 순위 가져오기 -->
	<select id="selectMyWeeklyRank" parameterType="string"
		resultType="int">
		select b.* from (select rownum, a.* from (select * from
		Weekly order by yield desc) a) b where email= #{email}
	</select>

	<!-- Monthly 랭킹 가져오기 -->
	<select id="selectMonthly" resultType="arraylist"
		resultMap="resultMonthly">
		SELECT * FROM Monthly ORDER BY
		YIELD DESC
	</select>

	<!-- 나의 Monthly 정보 가져오기 -->
	<select id="selectMyMonthly" parameterType="string"
		resultType="Monthly">
		SELECT * FROM Monthly WHERE EMAIL = #{email}
	</select>

	<!-- 나의 Monthly 순위 가져오기 -->
	<select id="selectMyMonthlyRank" parameterType="string"
		resultType="int">
		select b.* from (select rownum, a.* from (select * from
		Monthly order by yield desc) a) b where email= #{email}
	</select>

	<!-- Daily 계좌번호로 과거 자산 가져오기 -->
	<select id="selectOldEsset" parameterType="string"
		resultType="long">
		SELECT NEWESSET FROM DAILY WHERE ACNTNO = #{acntno}
	</select>

</mapper>
