<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rcommunity">
	<resultMap type="Rcommunity" id="resultRcommunity">
	</resultMap>
	
	<resultMap type="UserRcommuniyCheck" id="resultUserRcommuniyCheck">
	</resultMap>
	
	
	<!-- 댓글 전체 개수 조회 -->
	<select id="countRcommunityALl" resultType="int">
		SELECT count(*) FROM RCOMMUNITY
	</select>
	
	<!-- 해당 게시글에 대한 댓글 리스트 조회 -->
	<select id="selectRcommunityAll" parameterType="string" resultType="arraylist" resultMap="resultUserRcommuniyCheck">
		SELECT RNO, A.RWRITER, RCONTENT, RDATE, CNO, EMAIL FROM RCOMMUNITY A JOIN MEMBER B ON A.RWRITER = B.NICKNAME WHERE CNO=#{cno}
	</select>

	<!-- 댓글 단일 조회 -->
	<select id="selectRcommunity" parameterType="string" resultMap="resultRcommunity">
		SELECT * FROM RCOMMUNITY WHERE RNO = #{rno}
	</select>

	<!-- 댓글 입력 -->
	<insert id="insertRcommunity" parameterType="Rcommunity" flushCache="true" statementType="PREPARED" timeout="20">
		INSERT INTO
		RCOMMUNITY VALUES(
		LPAD(SEQ_RCOMMUNITY.NEXTVAL,5,'0'),
		#{rwriter}, #{rcontent}, default, #{cno})
	</insert>

	<!-- 댓글 입력 시 댓글 수 +1 -->
	<update id="updateReplyCnt" parameterType="string"
		flushCache="true" statementType="PREPARED">
		UPDATE COMMUNITY SET REPLYCNT = REPLYCNT+1 WHERE CNO = #{cno}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteRcommunity" parameterType="string"
		flushCache="true" statementType="PREPARED">
		DELETE FROM RCOMMUNITY WHERE RNO = #{rno}
	</delete>
	
	<!-- 댓글 삭제 시 댓글 수 -1 -->
	<update id="updateDelReplyCnt" parameterType="string"
		flushCache="true" statementType="PREPARED">
		UPDATE COMMUNITY SET REPLYCNT = REPLYCNT-1 WHERE CNO = #{cno}
	</update>
	
	<!-- 댓글 수정 -->
	<update id="updateRcommunity" parameterType="Rcommunity" flushCache="true" statementType="PREPARED" timeout="20">
		UPDATE RCOMMUNITY SET RCONTENT = #{rcontent} WHERE RNO = #{rno}
	</update>
</mapper>