<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">
	<resultMap type="Creport" id="Creport">
	</resultMap>
	<resultMap type="Acreport" id="Acreport">
	</resultMap>
	<resultMap type="Rreport" id="Rreport">
	</resultMap>
	<resultMap type="Arreport" id="Arreport">
	</resultMap>

	<!-- 신고 게시글 삽입 -->
	<insert id="insertCreport" parameterType="Creport"
		flushCache="true" statementType="PREPARED">
		INSERT INTO CREPORT VALUES(
		SEQ_CREPORT.NEXTVAL,
		#{creporter}, #{crreason}, #{csubject}, #{ccontent}, #{crespondent}, default, #{cno})
	</insert>
	
	<!-- 신고 게시글 수 세기 -->
	<select id="countCreport" resultType="int">
		SELECT COUNT(*) FROM CREPORT
	</select>

	<!-- 신고 댓글 삽입 -->
	<insert id="insertRreport" parameterType="Rreport"
		flushCache="true" statementType="PREPARED">
		INSERT INTO RREPORT VALUES(
		SEQ_RREPORT.NEXTVAL,
		#{rreporter}, #{rrreason}, #{rcontent}, #{rrespondent}, default, #{cno}, #{rno})
	</insert>
	
	<!-- 신고 댓글 수 세기 -->
	<select id="countRreport" resultType="int">
		SELECT COUNT(*) FROM RREPORT
	</select>
	
	<!-- 신고글 조회 -->
	<select id="selectCreport" resultType="arraylist" resultMap="Creport">
		SELECT CRNO, CNO, CR.CCONTENT, CRESPONDENT, CREPORTER, CRREASON, CRDATE FROM CREPORT CR JOIN COMMUNITY USING (CNO)
		ORDER BY CRDATE DESC
	</select>
	
	<!-- 신고 댓글 조회 -->
	<select id="selectRreport" resultType="arraylist" resultMap="Rreport">
		SELECT RRNO, RNO, CNO, RR.RCONTENT, RRESPONDENT, RREPORTER, RRREASON, RRDATE FROM RREPORT RR JOIN COMMUNITY C USING (CNO)
		ORDER BY RRDATE DESC
	</select>
	
	<!-- 신고글 처리 -->
	<insert id="insertAcreportDeny" parameterType="Acreport" flushCache="true" statementType="PREPARED">
		INSERT INTO ACREPORT VALUES(#{crno}, #{creporter}, #{crreason}, default, #{ccontent}, #{crespondent}, #{crdate}, #{cstatus}, #{creason}, default)
		
	</insert>
	<insert id="insertAcreportAccept" parameterType="Acreport" flushCache="true" statementType="PREPARED">
		INSERT INTO ACREPORT(CRNO, CREPORTER, CRREASON, CCONTENT, CRESPONDENT, CRDATE, CSTATUS, CREASON) SELECT CRNO, CREPORTER, CRREASON, CCONTENT, CRESPONDENT, CRDATE, 'accept', #{creason} FROM CREPORT WHERE CNO = #{cno}
	</insert>
	
	<delete id="deleteCreport" parameterType="string" flushCache="true" statementType="PREPARED">
		DELETE FROM CREPORT WHERE CNO = #{cno}
	</delete>

	<!-- 신고 댓글 처리 -->
	<insert id="insertArreportDeny" parameterType="Arreport" flushCache="true" statementType="PREPARED">
		INSERT INTO ARREPORT(rrno, rreporter, rrreason, rcontent, rrespondent, rrdate, rstatus, rreason, arrdate)
					  VALUES(#{rrno}, #{rreporter}, #{rrreason}, #{rcontent}, #{rrespondent}, #{rrdate}, #{rstatus}, #{rreason}, default)
	</insert>
	<insert id="insertArreportAccept" parameterType="Arreport" flushCache="true" statementType="PREPARED">
		INSERT INTO ARREPORT(RRNO, RREPORTER, RRREASON, RCONTENT, RRESPONDENT, RRDATE, RSTATUS, RREASON) SELECT RRNO, RREPORTER, RRREASON, RCONTENT, RRESPONDENT, RRDATE, 'accept', #{rreason} FROM RREPORT WHERE RNO = #{rno}
	</insert>
	
	<delete id="deleteRreport" parameterType="string" flushCache="true" statementType="PREPARED">
		DELETE FROM RREPORT WHERE RNO = #{rno}
	</delete>
	
	<!-- 처리된 신고글 수 세기 -->
	<select id="countAcreport" resultType="int">
		SELECT count(*) FROM ACREPORT
	</select>

	<!-- 처리된 신고 댓글 수 세기 -->
	<select id="countArreport" resultType="int">
		SELECT count(*) FROM ARREPORT
	</select>
	
	<!-- 처리된 신고글 조회 -->
	<select id="selectAcreport" resultType="arraylist" resultMap="Acreport">
		SELECT * FROM ACREPORT
		ORDER BY ACRDATE DESC
	</select>
	
	<!-- 처리된 신고글 검색 -->
	<select id="searchCrespondent" parameterType="string" resultType="arraylist" resultMap="Acreport">
		SELECT * FROM ACREPORT
		WHERE CRESPONDENT LIKE '%'||#{keyword}||'%'
	</select>
	<select id="searchCreporter" parameterType="string" resultType="arraylist" resultMap="Acreport">
		SELECT * FROM ACREPORT
		WHERE CREPORTER LIKE '%'||#{keyword}||'%'
	</select>
	<select id="searchCstatus" parameterType="string" resultType="arraylist" resultMap="Acreport">
		SELECT * FROM ACREPORT
		WHERE CSTATUS = #{cstatus}
	</select>
	
	<!-- 처리된 신고 댓글 조회 -->
	<select id="selectArreport" resultType="arraylist" resultMap="Arreport">
		SELECT * FROM ARREPORT
		ORDER BY ARRDATE DESC
	</select>
	<!-- 처리된 댓글 검색 -->
	<select id="searchRrespondent" parameterType="string" resultType="arraylist" resultMap="Arreport">
		SELECT * FROM ARREPORT
		WHERE RRESPONDENT LIKE '%'||#{keyword}||'%'
	</select>
	<select id="searchRreporter" parameterType="string" resultType="arraylist" resultMap="Arreport">
		SELECT * FROM ARREPORT
		WHERE RREPORTER LIKE '%'||#{keyword}||'%'
	</select>
	<select id="searchRstatus" parameterType="string" resultType="arraylist" resultMap="Arreport">
		SELECT * FROM ARREPORT
		WHERE RSTATUS = #{rstatus}
	</select>
</mapper>
