<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">

	<!-- 신고 게시글 삽입 -->
	<insert id="insertCreport" parameterType="Creport"
		flushCache="true" statementType="PREPARED">
		INSERT INTO CREPORT VALUES(
		SEQ_CREPORT.NEXTVAL,
		#{creporter}, #{crreason}, #{csubject}, #{ccontent}, #{crespondent}, default, #{cno})
	</insert>
	
	<!-- 신고 게시글 수 세기 -->
	<select id="countCreport" resultType="int">
		SELECT COUNT(*) FROM CREPORT
	</select>

	<!-- 신고 댓글 삽입 -->
	<insert id="insertRreport" parameterType="Rreport"
		flushCache="true" statementType="PREPARED">
		INSERT INTO RREPORT VALUES(
		SEQ_RREPORT.NEXTVAL,
		#{rreporter}, #{rrreason}, #{rcontent}, #{rrespondent}, default, #{cno}, #{rno})
	</insert>
	
	<!-- 신고 댓글 수 세기 -->
	<select id="countRreport" resultType="int">
		SELECT COUNT(*) FROM RREPORT
	</select>
</mapper>
