<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="waitBought">
	<!-- config에서 선언한 별칭을 사용한 namespace를 통해 해당 mapper를 접근한다 -->
	<resultMap type="WaitBought" id="resultwaitBought">
		<!-- class와 table의 컬럼명이 동일할 경우, 따로 기입하지 않아도 된다 -->
	</resultMap>

	<!-- 미체결 삽입 -->
	<insert id="insertWaitBought" parameterType="WaitBought" flushCache="true"
		statementType="PREPARED">
		INSERT INTO WAITBOUGHT VALUES(
		SEQ_WAITBOUGHT.NEXTVAL, #{coin}, #{buycnt}, #{buyprice}, default, #{acntno})
	</insert>
	
	<delete id="deleteWaitBought" parameterType="Integer"	flushCache="true" statementType="PREPARED">
		DELETE FROM WAITBOUGHT WHERE UBNO = #{ubno}
	</delete>
	
	<select id="selectListWaitBought" parameterType="string" resultType="arraylist" resultMap="resultwaitBought">
		SELECT * FROM WAITBOUGHT WHERE ACNTNO = #{acntno}
	</select>
	
</mapper>

<!-- 매수 -> ajax 미체결로 넣고(성공).//
미체결 정보와 실시간 코인 가격을 계속 에이잭스로 비교해주고, 체결 된 상태에서 해야되는 일 1) 미체결에서 없애고, 체결에 넣고, 코인계좌에도 넣어야됨
(미체결 테이블에 아무 값이 없으면, 굳이 실시간이랑 비교 안하게끔 처리 => 컨트롤러에서) -->