<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings> <!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases> <!-- 사용하고자 하는 클래스의 별칭을 선언 -->
		<typeAlias type="com.kh.bts.member.model.vo.Member"
			alias="Member" />
		<typeAlias type="com.kh.bts.community.model.vo.Community"
			alias="Community" />
		<typeAlias type="com.kh.bts.community.model.vo.Rcommunity"
			alias="Rcommunity" />
		<typeAlias type="com.kh.bts.community.model.vo.Clike"
			alias="Clike" />
		<typeAlias type="com.kh.bts.community.model.vo.Cdislike"
			alias="Cdislike" />
		<typeAlias type="com.kh.bts.investment.model.vo.WaitBought"
			alias="WaitBought" />
		<typeAlias type="com.kh.bts.investment.model.vo.WaitSold"
			alias="WaitSold" />
		<typeAlias type="com.kh.bts.investment.model.vo.Bought"
			alias="Bought" />
		<typeAlias type="com.kh.bts.investment.model.vo.Sold"
			alias="Sold" />
		<typeAlias type="com.kh.bts.acnt.model.vo.Acnt" alias="Acnt" />
		<typeAlias type="com.kh.bts.mypage.model.vo.MyRcommunity"
			alias="MyRcommunity" />
		<typeAlias type="com.kh.bts.acnt.model.vo.CoinAcnt"
			alias="CoinAcnt" />
		<typeAlias type="com.kh.bts.report.model.vo.Acreport"
			alias="Acreport" />
		<typeAlias type="com.kh.bts.report.model.vo.Arreport"
			alias="Arreport" />
		<typeAlias type="com.kh.bts.report.model.vo.Creport"
			alias="Creport" />
		<typeAlias type="com.kh.bts.report.model.vo.Rreport"
			alias="Rreport" />
	</typeAliases>
	<mappers> <!-- 사용하고자 하는 쿼리를 정의한 mapper.xml을 등록 -->
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/community-mapper.xml" />
		<mapper resource="mappers/rcommunity-mapper.xml" />
		<mapper resource="mappers/clike-mapper.xml" />
		<mapper resource="mappers/cdislike-mapper.xml" />
		<mapper resource="mappers/waitbought-mapper.xml" />
		<mapper resource="mappers/waitsold-mapper.xml" />
		<mapper resource="mappers/bought-mapper.xml" />
		<mapper resource="mappers/sold-mapper.xml" />
		<mapper resource="mappers/acnt-mapper.xml" />
		<mapper resource="mappers/mypage-mapper.xml" />
		<mapper resource="mappers/report-mapper.xml" />
	</mappers>
</configuration>
